GEMINI_MODEL_NAME=gemini-2.5-pro
GOOGLE_CLOUD_PROJECT=GCP project name
GOOGLE_CLOUD_LOCATION=GCP project location
GOOGLE_APPLICATION_CREDENTIALS=Location of json file with GCP service account
GOOGLE_GENAI_USER_VERTEXAI=True

DEEPEVAL_TELEMETRY_OPT_OUT=1